{
        "include": [
            "src/*.ts"
        ],
        "extension": [
            ".ts",
            ".tsx"
        ],
        "require": [
            "ts-node/register"
        ],
        "reporter": [
            "lcov"
        ],
        "sourceMap": true,
        "instrument": true
    }